<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>var ip = 'http://localhost:3000'</script>



    <style>
        h3 {
            margin: 0;
            text-align: center;
        }

        rect {
            width: 100%;
            height: 100%;
        }

        table {


            border: 1px solid black;
        }

        th,
        tr,
        td {
            margin: 0;
            border: 1px solid black;
            text-align: center;
        }

        tr,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <a>count : </a>
    <a id='count'>0</a><br>

    <button onclick="location.href='http://localhost:3000/start'" type="button">Start</button>

    <br>
    <%for(var i = 1; i <=4; i++){%>
    <div id='R<%=i%>'
        style="margin: 0; border-width: 10px; border-color: black; border-style: dashed; display: inline-block;">
        <h1 style="text-align: center;">R<%=i%></h1>
        <div style="float: left; ">
            <table>
                <tr>
                    <th colspan="4">RA<%=i%></th>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td id='RA<%=i%>max'>000</td>
                    <td>AVG</td>
                    <td id="RA<%=i%>avg">000</td>
                </tr>
            </table>
            <div id='RA<%=i%>' style="height: 500px; ;width: 500px; background-color: black;"></div>
        </div>


        <div style="float: left">
            <table>
                <tr>
                    <th colspan="4">RB<%=i%></th>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td id='RB<%=i%>max'>000</td>
                    <td>AVG</td>
                    <td id="RB<%=i%>avg">000</td>
                </tr>
            </table>
            <div id='RB<%=i%>' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        </div>


        <div style="float: left">
            <table>
                <tr>
                    <th colspan="4">RC<%=i%></th>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td id='RC<%=i%>max'>000</td>
                    <td>AVG</td>
                    <td id="RC<%=i%>avg">000</td>
                </tr>
            </table>
            <div id='RC<%=i%>' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        </div>


        <div style="float: left">
            <table>
                <tr>
                    <th colspan="4">Y<%=i%></th>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td id='X<%=i%>max'>000</td>
                    <td>AVG</td>
                    <td id="X<%=i%>avg">000</td>
                </tr>
            </table>
            <div id='X<%=i%>' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        </div>


        <div style="float: left">
            <table>
                <tr>
                    <th colspan="4">X<%=i%></th>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td id='Y<%=i%>max'>000</td>
                    <td>AVG</td>
                    <td id="Y<%=i%>avg">000</td>
                </tr>
            </table>
            <div id='Y<%=i%>' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        </div>

    </div>
    <%}%>

        <script type="text/javascript">
            var setCount = function (id, data) {
                if (id == 'RA1') {
                    $('#count').html((String)(data.count))
                }
            }

            var setMax = function (id, data) {
                $('#' + id + 'max').html((String)(data.max))
            }

            var setAvg = function (id, data) {
                $('#' + id + 'avg').html((String)(data.avg))
            }
            function getID(data) {
                var num
                if (data.id[1] == '1')
                    num = 'RA'
                else if (data.id[1] == '2')
                    num = 'RB'
                else if (data.id[1] == '3')
                    num = 'RC'
                else if (data.id[1] == '4')
                    num = 'X'
                else if (data.id[1] == '5')
                    num = 'Y'
                var id = num + data.id[0]
                return id
            }

            var layout = {
                datarevision: 'true',
                uirevision: 'true',
                xaxis: { autorange: true },
                yaxis: { autorange: true }
            };
            function initPlot(id) {
                var data = [
                    {
                        x: [0],
                        y: [0],
                        type: 'bar'
                    }
                ];
                Plotly.react(id, data, layout);
            }
            for (var i = 1; i <= 4; i++) {
                initPlot('RA' + i)
                initPlot('RB' + i)
                initPlot('RC' + i)
                initPlot('X' + i)
                initPlot('Y' + i)
            }

            var drawPlot = function (id, data) {
                layout.datarevision = !layout.datarevision

                Plotly.react(id, data.data, layout)
            }


            function updateData() {
                for (var i = 1; i <= 4; i++) {
                    for (var j = 1; j <= 5; j++) {
                        $.post(ip + "/toPlot/",
                            { "ID": i, 'NUM': j },
                            function (data) {
                                
                                if (data.data[0].x != 'NaN') {
                                    console.log(1)
                                    var id = getID(data)
                                    console.log(2)
                                    setCount(id, data)
                                    setMax(id, data)
                                    setAvg(id, data)
                                    drawPlot(id, data)
                                }
                            }, "json");
                    }
                }
            }
            updateData()
            timerID = setInterval("updateData()", 2000);

        </script>
</body>

</html>